@use './variables' as *;

.vh-100 {
    height: 100vh;
}

.w-90 {
    width:90%;
}

.bg_primary {
    background-color: $primary;
}

.bg_primary-light {
    background-color: $primary-light;
}

.bg_secondary {
    background-color: $secondary;
}

.bg_tertiary {
    background-color: $tertiary;
}

.bg_quaternary {
    background-color: $quaternary;
}

.text_primary {
    color: $primary;
}

.text_primary-light {
    color: $primary-light;
}

.text_secondary {
    color: $secondary;
}

.text_tertiary {
    color: $tertiary;
}

.text_quaternary {
    color: $quaternary;
}