// Variable overrides first
$primary: #a188a6;
$primary-light: #c53ae1;
$secondary: #9da2ab;
$tertiary: #0d324d;
$quaternary:#020202;

$sidebar-width:180px;
$navbar-height:50px;

$enable-shadows: true;
$prefix: "mo-";