// Variable overrides first
$primary: #57a773;
$primary-light: #157145;
$secondary: #6a8eae;
$tertiary: #9bd1e5;
$quaternary:#d1faff;

$sidebar-width:180px;
$navbar-height:50px;

$enable-shadows: true;
$prefix: "mo-";