@use './variables' as *;

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import 'common.scss';

html {
    overflow: hidden;
}

body {
    background-color: $secondary;
}
.guest {
    background-color: rgb(112, 132, 132);
}
//layout
ul.nav {
    height:$navbar-height;
    background-color: $tertiary;
    border-bottom:5px solid $primary-light;
}

ul.sidebar {
    height:calc(100vh - #{$navbar-height});
    width:$sidebar-width;
    border-right:5px solid $primary-light;

    li {

        a {
            color:$secondary;
            border-bottom:2px solid none;
            transition: border-bottom 0.3 ease-in-out;
    
            &:hover {
                border-bottom:2px solid $primary;
            }
        }
        
    }
}
//
main.welcome {
    height:calc(100vh - #{$navbar-height});
    overflow:hidden scroll;
}
//user
main.d-flex {
    background-color: $secondary;
    height:calc(100vh - #{$navbar-height});
    border-top:1px;
    
}

div:has(> .main-content) {
    width:100%;
    overflow:hidden scroll;
}

//Sessin Message
.alert-info {
    right:3rem;
}

//own
.content-own {
    height:calc(100vh - #{$navbar-height});
    overflow:hidden scroll;
}

.form-control:focus {
    background-color: $secondary;
}


